body {}

#container {
    text-align: center;
}

#clock {
    font-size: 60px;
    margin-top: 20px;
    letter-spacing: 5px;
}

#date {
    font-size: 18px;
    margin-top: 0px;
}

.back:hover {
    color: aquamarine;
}