body {
    text-align: center;
    padding: 0px;
    background-color: rgb(166, 230, 230);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
    font-style: initial;
    display: flexbox;
}

button {
    padding: 5px;
    margin: 0px;
    display: flexbox;
    border-color: cadetblue;
    border-style: groove;
}

input {
    padding: 5px;
    border-color: cadetblue;
    border-style: groove;
}