body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    display: flex;
    height: 70vh;
}

.contain {
    background-color: azure;
    padding: 30px;
    border-style: double;
    border-color: cornflowerblue;
}


li {
    margin: 8px;
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style: inside;
}

a {
    display: inline-block;
    color: rgb(58, 83, 136);
}